@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.containerHeader {
    display: flex;
    align-items: center;
}

.boxIcon {
    @include radius_common(50%);
    background-color: $primary-color;
    width: 26px;
    height: 26px;
}
