@use '@styles/_mixin.module.scss' as *;
@use '@styles/_variable.module.scss' as *;

.containerHeader {
    //  width: 100%;
    //  display: flex;
    //  justify-content: center;
    //padding: 0 40px;
    //background: transparent;
}

.headerInner {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //  gap: 40px;
    height: 83px;
}

.groupLeft,
.groupRight {
    display: flex;
    align-items: center;
    gap: 35px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxIcon {
    @include radius_common(50%);
    background-color: $primary-color;
    width: 26px;
    height: 26px;
}

.containerMenu {
    @include flex_box_custom(center, center, 28px);
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 20px);

    &:hover {
        cursor: pointer;
    }
}
.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
    position: relative;
}
.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary_color;
    margin-top: 6px;

    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition:
        transform 300ms,
        opacity 500ms;
}
.menu:hover::after {
    opacity: 1;
    transform: scale(1);
}
