@use '@styles/_mixin.module.scss' as *;
@use '@styles/_variable.module.scss' as *;

.containerHeader {
    display: flex;
    align-items: center;
}

.boxIcon {
    @include radius_common(50%);
    background-color: $primary-color;
    width: 26px;
    height: 26px;
}
.containerMenu {
    @include flex_box_custom(center, center, 40px);
}
.containerBoxIcon {
    @include flex_box_custom(center, center, 20px);

    &:hover {
        cursor: pointer;
    }
}
.containerBox {
    @include flex_box_custom(center, center, 20px);
}
